//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   font-family: Oswald;
   font-size: 14px;
   line-height: math.div(21, 14);
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: #395959;
}
.input {
   border-radius: 0 !important;
   width: 100%;
   display: block;
   border: 1px solid #43ffd2;
   padding: rem(20);
   background-color: transparent;
   position: relative;

   &._form-focus {
      // outline: 1px solid #D978AC;
      outline: none;

      border: 1px solid #d978ac;
   }

   &._form-error {
      border: 1px solid red;
   }
}
textarea.input {
   resize: none;
   padding: 20px;
}

._form-error {
}
