// Заголовки, общие БЄМ блоки и проче...
.button {
   font-weight: bold;
   font-size: 12px;
   line-height: math.div(18, 12);
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: #000000;
   padding: rem(16) rem(50);
   background-color: $green;
   transition: all 0.3s ease 0s;
   outline: none;
   min-width: 220px;
   height: 50px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   white-space: nowrap;

   // .button__green

   &__green {
      @media (any-hover: hover) {
         &:hover {
            background-color: $purple;
            color: #fff;
         }
      }
      &:focus {
         border: 1px solid #7d2253;
      }
      &:active {
         background: #7d2253;
         box-shadow: inset 0px 0px 10px #1b000e;
         color: #fff;
      }
   }

   // .button__transparent

   &__transparent {
      background-color: transparent;
      border: 0.5px solid #ffffff;
      color: #fff;
      @media (any-hover: hover) {
         &:hover {
            background-color: $green;
            color: #000;
         }
      }
      &:focus {
         border: 0.5px solid #43ffd2;
      }
      &:active {
         background: #43ffd2;
         box-shadow: inset 0px 0px 10px #01281f;
         color: #000;
      }
   }
}

.signature {
   font-size: 160px;
   padding: rem(0) rem(0) rem(40) rem(0);
   line-height: math.div(70, 160);
   text-transform: capitalize;
   color: #1f3a3a;
   font-family: Relative;
   transform: rotate(-10.26deg);
   display: inline-block;
   justify-content: end;
   position: relative;
   z-index: 5;
}

.title {
   font-family: Cormorant;
   font-size: 100px;
   @include adaptiveValue("font-size", 100, 40);
   line-height: math.div(121, 100);
   letter-spacing: 0.02em;
   text-transform: uppercase;
   &:not(:last-child) {
      margin-bottom: rem(15);
   }
}

.footer-link {
   line-height: math.div(21 , 14);
   letter-spacing: 0.04em;
   text-transform: uppercase;
   color: #43ffd2;
}
