//====================================================================================================

//====================================================================================================

//Burger

.icon-menu {
   display: none;
   @media (max-width: $tablet) {
      display: block;
      position: relative;
      min-width: rem(20);
      top: 40px;
      left: 10px;
      min-height: rem(14);
      cursor: pointer;
      z-index: 20;
      span,
      &::before,
      &::after {
         content: "";
         transition: all 0.3s ease 0s;
         right: 0;
         position: absolute;
         width: 100%;
         height: rem(1);
         background-color: #43ffd2;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      span {
         top: calc(50% - rem(1));
      }
      ._header-show & {
         top: 0;
      }
      .menu-open & {
         position: absolute;
         -webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) 0s both;
         animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) 0s both;
         left: 75%;
         top: 25px;
         span {
            width: 0;
         }
         &::before,
         &::after {
         }
         &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
         }
         &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
         }
         @media (max-width: $mobileSmall) {
            left: 70%;
         }
      }
   }
}
@-webkit-keyframes roll-in-blurred-left {
   0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
      transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
      filter: blur(50px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
   }
}
@keyframes roll-in-blurred-left {
   0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
      transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
      filter: blur(50px);
      opacity: 0;
   }
   100% {
      -webkit-transform: translateX(0) rotate(0deg);
      transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
      filter: blur(0);
      opacity: 1;
   }
}

//========================================================================================================================================================

// &::before,
// &::after {
//    content: "";
//    width: 879.44px;
//    height: 211.05px;
//    @include adaptiveValue("width", 879, 250);
//    @include adaptiveValue("height", 211, 150);
//    filter: blur(130px);
//    border-radius: 50%;
//    position: absolute;
//    @media (max-width: $tablet) {
//       filter: blur(50px);
//    }
// }
// &::before {
//    top: 30%;
//    left: -5%;
//    background: #43ffd2;
//    transform: rotate(32.83deg);
//    z-index: 2;
//    opacity: 1;
//    @media (max-width: $tablet) {
//       top: 20%;
//       left: -25%;
//    }
// }
// &::after {
//    background: #7d2253;
//    right: 0;
//    transform: rotate(-32.83deg);
//    top: 30%;
//    @media (max-width: $tablet) {
//       top: 20%;
//    }
// }

//========================================================================================================================================================

.logo-header {
   display: none;
   white-space: nowrap;
   ._header-show & {
      @media (max-width: $tablet) {
         display: block;
         font-family: Cormorant;
         font-size: 20px;
         line-height: math.div(24, 20);
         letter-spacing: 0.2em;
         text-transform: uppercase;
         color: #ffffff;
         position: absolute;
         @include adaptiveValue("left", 400, 65, 991.98, 320);
         top: 15px;
      }
   }
}

.header {
   background-color: transparent;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   min-height: rem(65);

   &._header-show {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 50;
      background-color: #0f2222;
      @media (max-width: $tablet) {
         min-height: rem(50);
      }
   }
   @-webkit-keyframes slide-in-top {
      0% {
         -webkit-transform: translateY(-1000px);
         transform: translateY(-1000px);
         opacity: 0;
      }
      100% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
      }
   }
   @keyframes slide-in-top {
      0% {
         -webkit-transform: translateY(-1000px);
         transform: translateY(-1000px);
         opacity: 0;
      }
      100% {
         -webkit-transform: translateY(0);
         transform: translateY(0);
         opacity: 1;
      }
   }

   // .header__container

   &__container {
      display: flex;
      align-items: center;
      @media (max-width: $tablet) {
         justify-content: space-between;
         min-height: 55px;
      }
   }

   // .header__logo

   &__logo {
      margin: rem(0) rem(50) rem(0) rem(0);
      font-family: Cormorant;
      font-style: normal;
      font-weight: 300;
      font-size: 60px;
      line-height: math.div(73, 60);
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #8a8686;
      position: relative;
      display: block;
      span {
         font-size: 50px;
         line-height: math.div(61, 50);
         color: #ffffff;
         position: absolute;
         display: inline-block;
         top: 13px;
         left: 8px;
      }
   }

   // .header__menu

   &__menu {
   }
}
.menu {
   max-width: 800px;
   width: 100%;
   @media (max-width: em(1100)) {
      max-width: 610px;
   }
   @media (max-width: $tablet) {
      max-width: 0;
   }

   // .menu__header

   &__header {
      display: flex;
      align-items: center;
      @media (max-width: $tablet) {
         flex-direction: column-reverse;
         align-items: start;
         border-bottom: 1px solid #555555;
         padding: rem(10) rem(0);
      }
   }

   // .menu__list

   &__list {
      padding: rem(0) rem(15);
      display: inline-flex;
      justify-content: space-between;
      @media (max-width: em(1100)) {
         flex-wrap: wrap;
      }
      @media (max-width: $tablet) {
         flex-direction: column;
         padding: 0;
      }
   }

   // .menu__item

   &__item {
      position: relative;
      padding: rem(5) rem(15);
      @media (max-width: $tablet) {
         padding: rem(5) rem(0);
         &:not(:last-child) {
            margin-bottom: rem(10);
         }
      }
   }

   // .menu__item-hidden

   &__item-hidden {
      @media (min-width: $tablet) {
         display: none;
      }
   }

   // .menu__link

   &__link {
      transition: all 0.3s ease 0s;
      text-transform: uppercase;
      @media (any-hover: hover) {
         &:hover {
            color: #43ffd2;
            text-decoration: underline;
         }
      }
   }

   // .menu__search

   &__search {
      transition: all 0.3s ease 0s;
      display: flex;
      cursor: pointer;
      text-transform: uppercase;
      padding: rem(5) rem(5);
      align-items: center;
      @media (any-hover: hover) {
         &:hover {
            color: #43ffd2;
            text-decoration: underline;
         }
      }
      &::before {
         font-size: rem(14);
         padding: rem(0) rem(12) rem(0) rem(0);
      }
      @media (max-width: $tablet) {
         margin: rem(0) rem(0) rem(10) rem(0);
         padding: 0;
      }
   }

   // .menu__body

   &__body {
      @media (max-width: $tablet) {
         position: fixed;
         width: 80%;
         min-height: 100%;
         top: 0;
         left: -100%;
         overflow: auto;
         background-color: #000;
         transition: all 0.3s ease 0s;
         opacity: 1;
         padding: rem(10) rem(10) rem(10) rem(20);
         z-index: 7;
         display: flex;
         flex-direction: column;
         justify-content: start;

         .menu-open & {
            left: 0;
            &::before {
               left: 0;
            }
         }
      }
   }

   // .menu__icon

   &__icon {
   }
}

.body-menu {
   // .body-menu__links

   &__links {
      display: flex;
      flex-direction: column;
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      order: 4;
   }
   // .body-menu__link

   &__link {
      font-size: 10px;
      line-height: math.div(15, 10);
      letter-spacing: 0.04em;
      color: #555555;
      display: inline-block;
      margin: rem(0) rem(0) rem(10) rem(0);
   }

   // .body-menu__phone

   &__phone {
      line-height: 21px;
      display: inline-block;
      line-height: math.div(21, 14);
      letter-spacing: 0.1em;
      text-decoration: underline !important;
      text-transform: uppercase;
   }
}

//========================================================================================================================================================

.link-catalog-header {
   // opacity: 0;
   // visibility: hidden;
   display: none;
   position: absolute;
   top: 20px;
   left: 0;
   // .link-catalog-header__body

   &__body {
      padding: rem(10) rem(20);
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(20px);
      min-width: 260px;
   }

   // .link-catalog-header__list

   &__list {
   }

   // .link-catalog-header__item

   &__item {
      line-height: 21px;
      line-height: math.div(21, 14);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      &:not(:last-child) {
         margin-bottom: rem(4);
      }
   }

   // .link-catalog-header__link

   &__link {
      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            color: #43ffd2;
         }
      }
   }
}

.menu__item-catalog {
   @media (any-hover: hover) {
      &:hover {
         .link-catalog-header {
            display: block;
         }
      }
   }
}
