//====================================================================================================

.mainblock {
   position: relative;
   width: 100%;
   padding-bottom: rem(500);
   @include adaptiveValue("padding-bottom", 800, 300);

   // .mainblock__image-bg-ibg

   &__image-bg-ibg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      &::before,
      &::after {
         content: "";
         width: rem(880);
         height: rem(212);
         @include adaptiveValue("width", 879, 250);
         @include adaptiveValue("height", 211, 150);
         filter: blur(130px);
         border-radius: 50%;
         position: absolute;
         @media (max-width: $tablet) {
            filter: blur(50px);
         }
      }
      &::before {
         top: 30%;
         left: -5%;
         background: #43ffd2;
         transform: rotate(32.83deg);
         z-index: 2;
         opacity: 1;
         @media (max-width: $tablet) {
            top: 20%;
            left: -25%;
         }
      }
      &::after {
         background: #7d2253;
         right: 0;
         transform: rotate(-32.83deg);
         top: 30%;
         @media (max-width: $tablet) {
            top: 20%;
         }
      }
   }

   // .mainblock__image-top-ibg

   &__image-top-ibg {
      position: relative;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 3;
      opacity: 0.8;
   }

   // .mainblock__container

   &__container {
      position: relative;
      text-align: right;
   }

   // .mainblock__content

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: rem(50);
      padding-bottom: rem(200);
      @include adaptiveValue("padding-top", 93, 14);
      @include adaptiveValue("padding-bottom", 223, 200);
   }

   // .mainblock__subcontent

   &__subcontent {
      text-align: center;
   }

   // .mainblock__titles

   &__titles {
   }

   // .mainblock__title

   &__title {
      font-family: Cormorant;
      font-weight: 300;
      font-size: rem(200);
      @include adaptiveValue("font-size", 200, 50);
      line-height: math.div(242, 200);
      letter-spacing: 0.2em;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      z-index: 2;
      @media (max-width: $tablet) {
         letter-spacing: 0.1em;
      }
      // .mainblock__title_top

      &_top {
         position: relative;
         bottom: rem(95);
         @include adaptiveValue("bottom", 95, 0);
         z-index: 5;
      }
      @media (max-width: $tablet) {
         letter-spacing: 0.1em;
      }
   }

   // .mainblock__subtitle

   &__subtitle {
      font-size: rem(20);
      line-height: math.div(30, 20);
      text-align: center;
      letter-spacing: 0.02em;
      position: relative;
      z-index: 4;
      @media (min-width: $pc) {
         margin-top: rem(-100);
      }
      &:not(:last-child) {
         margin-bottom: rem(47);
      }
   }

   // .mainblock__button

   &__button {
      position: relative;
      z-index: 4;
   }

   // .mainblock__side

   &__side {
   }

   // .mainblock__signature

   &__signature {
   }
   // .mainblock__signature-text

   &__signature-text {
   }
}

.signature-mainblock {
   position: absolute;
   bottom: 0;
   left: 0;
   z-index: 5;
   width: 100%;
   height: rem(406);
   @include adaptiveValue("height", 700, 105);
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(180deg, rgba(4, 10, 10, 0) 0%, #040a0a 100%);
   }

   // .signature-mainblock__container

   &__container {
      width: 100%;
      display: flex;
      height: 100%;
      justify-content: end;
      align-items: flex-end;
      padding: rem(0) rem(15);
      @media (max-width: $tablet) {
      }
   }

   // .signature-mainblock__signature-text

   &__signature-text {
   }
}

.side-mainblock {
   position: absolute;
   display: flex;
   align-items: end;
   flex-direction: column;
   top: 0;
   right: 0;
   z-index: 11;
   padding: rem(20) rem(10) rem(20) rem(0);
   // .side-mainblock__addresses

   &__addresses {
      @media (min-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(60);
         }
      }
      @media (max-width: $tablet) {
         padding: rem(19) rem(0);
         order: 3;
      }
   }

   // .side-mainblock__address

   &__address {
   }

   // .side-mainblock__social

   &__social {
   }

   // .side-mainblock__phones

   &__phones {
   }

   // .side-mainblock__cart

   &__cart {
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(20px);
      border-radius: rem(10);
      display: inline-block;
      position: relative;
      cursor: pointer;
      transition: transform 0.3s ease 0s;
      @media (max-width: $tablet) {
         position: absolute;
         top: rem(20);
         right: rem(20);
         ._header-scroll & {
            top: rem(-3);
            right: rem(10);
            backdrop-filter: blur(0);
            background: none;
         }
      }

      &::before {
         font-size: rem(25);
         padding: rem(16);
         @include adaptiveValue("padding", 18, 12);
      }
      @media (any-hover: hover) {
         &:hover {
            transform: scale(1.1);
         }
      }
      span {
         position: absolute;
         background: #43ffd2;
         width: rem(16);
         height: rem(16);
         border-radius: 50%;
         font-size: rem(12);
         line-height: math.div(18, 12);
         letter-spacing: 0.04em;
         text-transform: uppercase;
         color: #142b2b;
         display: flex;
         justify-content: center;
         align-items: center;
         right: rem(9);
         top: rem(15);
      }
   }
}
.address-side-mainblock {
   &:not(:last-child) {
      margin-bottom: rem(26);
   }
   // .address-side-mainblock__mail

   &__mail {
      line-height: math.div(21, 14);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #43ffd2;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
      &:not(:last-child) {
         margin-bottom: rem(4);
      }
   }

   // .address-side-mainblock__text

   &__text {
      font-weight: 300;
      font-size: rem(10);
      line-height: math.div(15, 10);
      letter-spacing: 0.1em;
      text-transform: uppercase;
   }
}
.social-side-mainblock {
   display: inline-block;
   background: rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(20px);
   border-radius: rem(10);
   &:not(:last-child) {
      margin-bottom: rem(184);
   }
   @media (max-width: $tablet) {
      margin-bottom: 0;
      order: 5;
   }

   // .social-side-mainblock__items

   &__items {
      padding: rem(20);
      position: relative;
      z-index: 4;

      @media (max-width: $tablet) {
         display: flex;
         padding: 0;
      }
   }

   // .social-side-mainblock__item

   &__item {
      display: block;

      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      &::before {
         color: #43ffd2;
         font-size: rem(25);
         transition: color 0.3s ease 0s;
      }
      @media (any-hover: hover) {
         &:hover {
            &::before {
               color: #d978ac;
            }
         }
      }
      @media (max-width: $tablet) {
         &:not(:last-child) {
            margin-right: rem(20);
         }
      }
   }
}

.phones-side-mainblock {
   // .phones-side-mainblock__phone

   &__phone {
      font-size: rem(16);
      line-height: math.div(24, 16);
      letter-spacing: 0.1em;
      display: inline-block;
      text-transform: uppercase;
      color: #43ffd2;
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
      &:not(:last-child) {
         margin-bottom: rem(7);
      }
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .phones-side-mainblock__order

   &__order {
      line-height: math.div(21, 14);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #43ffd2;
      display: inline-flex;
      margin-bottom: rem(20);
      align-items: center;
      justify-content: end;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(20px);
      border-radius: rem(10);
      padding: rem(10) rem(19);
      transition: all 0.3s ease 0s;
      white-space: nowrap;
      cursor: pointer;
      &::before {
         font-size: rem(12);
         padding: rem(0) rem(8) rem(0) rem(0);
      }
      span {
         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline;
            }
         }
      }
      @media (max-width: $tablet) {
         min-width: rem(60);
         min-height: rem(60);
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         display: none;
         span {
            display: none;
         }
         &::before {
            font-size: rem(24);
            position: relative;
            left: rem(3);
            top: rem(3);
         }
      }
      &._active {
         position: fixed;
         bottom: 0;
         right: 10%;
         display: flex;
         z-index: 50;
         -webkit-animation: bounce-in-top 1.1s both;
         animation: bounce-in-top 1.1s both;
      }
      &._calling {
         -webkit-animation: jello-horizontal 5s infinite both;
         animation: jello-horizontal 5s infinite both;
      }
      &.popup-margin {
         -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
         animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      }
      .menu-open & {
         -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
         animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      }
   }
}

@-webkit-keyframes slide-out-right {
   0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
   }
   100% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
   }
}
@keyframes slide-out-right {
   0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
   }
   100% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
   }
}

@-webkit-keyframes bounce-in-top {
   0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
   }
   38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
   }
   55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }
   72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
   81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }
   90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
   95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
}
@keyframes bounce-in-top {
   0% {
      -webkit-transform: translateY(-500px);
      transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0;
   }
   38% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1;
   }
   55% {
      -webkit-transform: translateY(-65px);
      transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }
   72% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
   81% {
      -webkit-transform: translateY(-28px);
      transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }
   90% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
   95% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
   }
   100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
   }
}

@-webkit-keyframes jello-horizontal {
   0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
   }
   6% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
   }
   8% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
   }
   10% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
   }
   13% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
   }
   15% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
   }
   20% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
   }

   100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
   }
}
@keyframes jello-horizontal {
   0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
   }
   6% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
   }
   8% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
   }
   10% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
   }
   13% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
   }
   25% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
   }
   20% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
   }
   100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
   }
}

//====================================================================================================

.catalog {
   position: relative;
   z-index: 4;
   padding-top: rem(70);
   padding-bottom: rem(70);
   @include adaptiveValue("padding-top", 100, 30);
   @include adaptiveValue("padding-bottom", 120, 20);

   &::before,
   &::after {
      content: "";
      filter: blur(130px);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: rotate(32.83deg);
   }
   &::before {
      background: #43ffd2;
      right: 0;
      width: rem(708);
      height: rem(236);
      @include adaptiveValue("width", 707, 350);
      @include adaptiveValue("height", 236, 200);
      @media (max-width: $tablet) {
         top: 40%;
         right: 10%;
      }
   }
   &::after {
      left: -5%;
      width: rem(880);
      height: rem(212);
      @include adaptiveValue("width", 879, 450);
      @include adaptiveValue("height", 211, 300);
      background: #7d2253;
      z-index: 2;
      opacity: 1;
      @media (max-width: $tablet) {
         top: 75%;
         left: 20%;
         transform: rotate(-32.83deg);
      }
   }

   // .catalog__container

   &__container {
   }

   // .catalog__title

   &__title {
      @media (max-width: $tablet) {
         font-size: rem(40);
         margin: rem(100) rem(0) rem(0) rem(0);
      }
   }

   // .catalog__columns

   &__columns {
      display: flex;
      @media (max-width: $tablet) {
         flex-direction: column;
      }
   }

   // .catalog__column

   &__column {
      flex: 0 1 50%;
   }
}

.column-catalog {
   // .column-catalog_1

   &_1 {
      &::before {
         top: 41%;
         left: -40%;
         content: "Цветы";
      }
   }
   // .column-catalog_2

   &_2 {
      &::before {
         content: "букеты";
         top: -15%;
         left: 10%;
      }
      &::after {
         content: "дополнительно";
         top: 60%;
         left: -15%;
      }
   }
   position: relative;
   width: 100%;
   &::before,
   &::after {
      font-weight: bold;
      font-size: rem(100);
      @include adaptiveValue("font-size", 200, 100);
      line-height: math.div(293, 200);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.1;
      display: block;
      position: absolute;
      z-index: 2;
      @media (max-width: $tablet) {
         display: none;
      }
   }
   // .column-catalog__item

   &__item {
      position: relative;
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      border-radius: rem(20);
      max-width: rem(540);
      padding: rem(30) rem(50);
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 3;
      p {
         font-weight: 300;
         font-size: rem(20);
         line-height: math.div(26, 20);
         letter-spacing: 0.04em;
         &:not(:last-child) {
            margin-bottom: rem(30);
         }
      }
      &:not(:last-child) {
         @media (min-width: $tablet) {
            margin-bottom: rem(111);
         }
      }

      // .column-catalog__item_1

      &_1 {
         max-width: rem(520);
         left: rem(160);
         background: none;
         backdrop-filter: none;
         left: 0;
         @include adaptiveValue("left", 160, 0, 1300, 992, 1);
         @media (max-width: $tablet) {
            display: none;
         }
      }
      // .column-catalog__item_2

      &_2 {
         max-width: rem(445);
      }
      // .column-catalog__item_3

      &_3 {
         @media (min-width: $tablet) {
            margin-left: rem(60);
            @include adaptiveValue("margin-left", 170, 20, 1400, 992, 1);
            max-width: rem(445);
            display: inline-flex;
            margin: rem(0) rem(0) rem(0) rem(170);
         }
      }
      // .column-catalog__item_4

      &_4 {
         max-width: rem(445);
      }
      @media (max-width: $tablet) {
         max-width: 100%;
         text-align: center;
         align-items: center;
         margin-bottom: rem(40);
      }
   }

   // .column-catalog__title

   &__title {
      font-weight: bold;
      font-size: rem(30);
      line-height: math.div(44, 30);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #43ffd2;
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
      @media (any-hover: hover) {
         &:hover {
            text-decoration: underline;
         }
      }
   }

   // .column-catalog__list

   &__list {
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }

   // .column-catalog__label

   &__label {
      &:not(:last-child) {
         margin-bottom: rem(4);
      }
      font-size: rem(18);
      line-height: math.div(27, 18);
      letter-spacing: 0.04em;
      text-transform: uppercase;
   }

   // .column-catalog__link

   &__link {
      position: relative;
      display: flex;
      align-items: center;
      transition: color 0.3s ease 0s;

      &::before {
         content: "";
         width: rem(4);
         height: rem(4);
         background-color: #fff;
         border-radius: 50%;
         margin: rem(0) rem(15) rem(0) rem(0);
      }
      @media (any-hover: hover) {
         &:hover {
            color: #d978ac;
         }
      }
   }

   // .column-catalog__link-catalog

   &__link-catalog {
      font-weight: bold;
      font-size: rem(12);
      line-height: math.div(18, 12);
      letter-spacing: 0.1em;
      text-decoration: underline !important;
      text-transform: uppercase;
      color: #d978ac;
      text-align: right;
      transition: color 0.3s ease 0s;

      @media (any-hover: hover) {
         &:hover {
            color: #43ffd2;
         }
      }
   }
}
//========================================================================================================================================================

.popular {
   position: relative;
   padding-top: rem(70);
   padding-bottom: rem(70);
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 100, 50);

   &::before,
   &::after {
      content: "";
      width: rem(880);
      height: rem(211);
      @include adaptiveValue("width", 814, 500);
      @include adaptiveValue("height", 661, 400);
      filter: blur(130px);
      border-radius: 50%;
      position: absolute;
      z-index: 2;
      @media (max-width: $tablet) {
         filter: blur(50px);
      }
   }
   &::before {
      top: 50%;
      left: -5%;
      background: #43ffd2;
      transform: rotate(32.83deg);
      opacity: 0.8;
      // border-radius: 40% 60% 0% 100% / 8% 100% 0% 92%;
      background: rgba(67, 255, 210, 0.47);
      @media (max-width: $tablet) {
         left: 0%;
         top: 10%;
         opacity: 1;
         filter: blur(150px);
      }
   }
   &::after {
      background: #7d2253;
      right: 0%;
      transform: rotate(-32.83deg);
      top: 40%;
      // border-radius: 29% 71% 18% 82% / 27% 72% 28% 73%;

      @media (max-width: $tablet) {
         top: 50%;
         filter: blur(150px);
         transform: rotate(-180deg);
      }
   }

   // .popular__container

   &__container {
      overflow: hidden;
   }

   // .popular__title

   &__title {
      position: relative;
      z-index: 4;
      span {
         position: relative;
         left: rem(385);
         @media (max-width: $mobile) {
            left: 0;
         }
      }
   }

   // .popular__subtitle

   &__subtitle {
      text-align: center;
      font-weight: 300;
      font-size: rem(20);
      line-height: math.div(30, 20);
      letter-spacing: 0.02em;
      margin: rem(0) rem(0) rem(86) rem(0);
      position: relative;
      z-index: 4;
   }

   // .popular__background-ibg

   &__background-ibg {
      position: absolute;
      width: 100%;
      height: rem(748);
      top: rem(115);
      right: 0;
      max-width: rem(974);
      z-index: 0;
      opacity: 0.7;
      z-index: 3;
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .popular__slider

   &__slider {
      // margin: rem(0) rem(-15);
      &.swiper {
         @media (min-width: $tablet) {
            padding: rem(10) rem(10);
            margin: rem(0) rem(-15);
         }
      }
   }

   // .popular__wrapper

   &__wrapper {
      @media (max-width: $tablet) {
         flex-wrap: wrap;
         gap: rem(40);
         justify-content: center;
      }
   }

   // .popular__slide

   &__slide {
   }
}

.slider-popular {
   // .slider-popular__container

   &__container {
      position: relative;
      z-index: 5;
      @media (min-width: $tablet) {
         padding: rem(15) rem(15);
      }
   }
}

.slide-popular {
   @media (max-width: $tablet) {
      flex: 0 1 33.333%;
   }
   position: relative;
   @media (any-hover: hover) {
      &:hover {
         .slide-popular__image-ibg {
            img {
               filter: grayscale(0);
            }
         }
      }
   }
   // .slide-popular__promotions

   &__promotions {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      height: rem(60);
      z-index: 3;
      text-align: right;
      display: flex;
      justify-content: end;
      @media (min-width: $tablet) {
         top: rem(-10);
         right: rem(-10);
      }
   }

   // .slide-popular__promotion

   &__promotion {
      width: rem(60);
      height: rem(60);
      // left: rem(465);
      // top: rem(2588);
      background: #d978ac;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000;

      &:not(:last-child) {
         margin-right: rem(5);
      }
      // .slide-popular__promotion_green

      &_green {
         background: #43ffd2;
      }
   }

   // .slide-popular__image-ibg

   &__image-ibg {
      display: block;
      padding: rem(0) rem(0) 128.8% rem(0);
      @media (min-width: $tablet) {
         img {
            filter: grayscale(1);
            transition: all 0.3s ease 0s;
         }
      }
   }

   // .slide-popular__content

   &__content {
      padding: rem(10);
   }

   // .slide-popular__title

   &__title {
      display: block;
      font-size: rem(20);
      line-height: math.div(30, 20);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      transition: color 0.3s ease 0s;
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
      @media (any-hover: hover) {
         &:hover {
            color: #43ffd2;
            text-decoration: underline;
         }
      }
   }

   // .slide-popular__prices

   &__prices {
      display: flex;
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }

   // .slide-popular__price

   &__price {
      font-weight: bold;
      line-height: math.div(21, 14);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      &:not(:last-child) {
         margin-right: rem(10);
      }
   }

   // .slide-popular__oldprice

   &__oldprice {
      font-weight: 300;
      line-height: math.div(21, 14);
      letter-spacing: 0.04em;
      text-decoration: line-through;
      text-transform: uppercase;
      color: #939393;
   }

   // .slide-popular__button

   &__button {
   }
}

.popular-button {
   position: absolute;
   top: 35%;
   z-index: 2;
   font-size: 0;
   background: transparent;
   cursor: pointer;
   &::before {
      font-size: rem(6);
      color: #43ffd2;
      transition: all 0.3s ease 0s;
   }
   @media (any-hover: hover) {
      &:hover {
         &::before {
            color: #d978ac;
         }
      }
   }
   @media (max-width: $tablet) {
      display: none;
   }
   @media (max-width: em(1380)) {
      top: -10%;
   }
}

.popular-button-prev {
   left: rem(-120);
   &::before {
      padding: rem(20);
   }
   @media (max-width: em(1380)) {
      left: rem(10);
   }
}
.popular-button-next {
   right: rem(-120);
   transform: rotate(-180deg);
   &::before {
      padding: rem(20);
   }
   @media (max-width: em(1380)) {
      right: rem(10);
   }
}
//========================================================================================================================================================

.order {
   position: relative;
   padding-top: rem(70);
   padding-bottom: rem(70);
   @include adaptiveValue("padding-top", 100, 50);
   @include adaptiveValue("padding-bottom", 100, 50);
   @media (max-width: $tablet) {
      &::before,
      &::after {
         content: "";
         width: rem(880);
         height: rem(211);
         @include adaptiveValue("width", 814, 500);
         @include adaptiveValue("height", 661, 400);
         filter: blur(130px);
         border-radius: 50%;
         position: absolute;
         z-index: 1;
         // @media (max-width: $tablet) {
         //    filter: blur(50px);
         // }
      }
      &::before {
         top: 50%;
         left: -5%;
         background: #43ffd2;
         transform: rotate(32.83deg);
         // opacity: 0.8;
         // border-radius: 40% 60% 0% 100% / 8% 100% 0% 92%;
         background: rgba(67, 255, 210, 0.47);
         // @media (max-width: $tablet) {
         left: 0%;
         top: 10%;
         opacity: 1;
         filter: blur(170px);
         // }
      }
      &::after {
         background: #7d2253;
         right: 0%;
         transform: rotate(-32.83deg);
         top: 40%;
         // border-radius: 29% 71% 18% 82% / 27% 72% 28% 73%;

         // @media (max-width: $tablet) {
         //    top: 50%;
         //    filter: blur(170px);
         //    transform: rotate(-180deg);
         // }
      }
   }
   // .order__bg

   &__bg {
      position: absolute;
      top: 18%;
      left: 0;
      z-index: 2;
      height: 100%;
      width: rem(250);
      height: rem(600);
      @include adaptiveValue("width", 350, 120);
      @include adaptiveValue("height", 845, 250);
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
      @media (max-width: $tablet) {
         top: 13%;
      }
      @media (max-width: $mobile) {
         top: 11%;
      }
      @media (max-width: $mobileSmall) {
         top: 8%;
      }
   }

   // .order__container

   &__container {
   }

   // .order__title

   &__title {
   }

   // .order__content

   &__content {
   }
}

.content-order {
   width: 100%;
   display: flex;
   flex-direction: column;
   // text-align: right;

   // .content-order__items

   &__items {
      position: relative;
      z-index: 5;
      max-width: rem(840);
      padding: rem(40) rem(100) rem(0) rem(0);
      @include adaptiveValue("padding-right", 100, 30, 1400, 992, 1);
      @include adaptiveValue("max-width", 840, 700, 1400, 992, 1);
      display: flex;
      align-self: end;
      gap: rem(95);
      @include adaptiveValue("gap", 95, 40, 1400, 992, 1);
      border-right: 1px solid #d978ac;
      @media (max-width: $tablet) {
         flex-direction: column;
         // align-self: stretch;
         border-right: none;
         width: 100%;
         text-align: right;
      }
   }

   // .content-order__column

   &__column {
      flex: 0 1 50%;
      padding: rem(40) rem(0) rem(0) rem(0);
      @media (max-width: $tablet) {
         display: flex;
         flex-direction: column;
      }
      @media (min-width: $tablet) {
         max-width: rem(242);
      }

      // .content-order__column_1

      &_1 {
      }

      // .content-order__column_2

      &_2 {
         &::before {
            background: transparent;
         }
      }
   }

   // .content-order__item

   &__item {
      &:not(:last-child) {
         margin-bottom: rem(40);
      }

      @media (max-width: $tablet) {
         text-align: left;
         display: block;
         // .content-order__item_1

         &_1 {
            align-self: flex-end;
            position: relative;
            @media (max-width: $tablet) {
               max-width: rem(150);
            }
            &::before {
               content: "";
               background: #d978ac;
               display: inline-block;
               width: rem(65);
               height: rem(10);
               position: absolute;
               top: rem(-40);
               left: 0;
            }
         }
         // .content-order__item_2

         &_2 {
            @media (max-width: $tablet) {
               max-width: rem(205);
               align-self: flex-end;
               margin-right: rem(50);
               @include adaptiveValue("margin-right", 150, 10);
               // margin: rem(0) rem(150) rem(0) rem(0);
            }
         }
         // .content-order__item_3

         &_3 {
            @media (max-width: $tablet) {
               max-width: rem(210);
               align-self: flex-end;
               margin: rem(0) rem(300) rem(0) rem(0);
               @include adaptiveValue("margin-right", 300, 20);
            }
         }
         // .content-order__item_4

         &_4 {
            @media (max-width: $tablet) {
               max-width: rem(300);
            }
         }
         // .content-order__item_5

         &_5 {
            @media (max-width: $tablet) {
               max-width: rem(300);
            }
         }
      }
   }

   // .content-order__title

   &__title {
      &:not(:last-child) {
         margin-bottom: rem(12);
      }
      font-weight: bold;
      font-size: rem(30);
      line-height: math.div(44, 30);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #d978ac;
   }

   // .content-order__text

   &__text {
      line-height: math.div(21, 14);
      letter-spacing: 0.04em;
      text-transform: uppercase;
   }

   // .content-order__signature

   &__signature {
      align-self: end;
   }
}
//========================================================================================================================================================

.occasion {
   // .occasion__container

   &__container {
   }

   // .occasion__label

   &__label {
      display: flex;
      align-items: center;
      gap: rem(50);
      @include adaptiveValue("gap", 80, 30);
      &:not(:last-child) {
         margin-bottom: rem(30);
      }
   }

   // .occasion__title

   &__title {
      flex: 1 1 auto;
      width: 100%;
      span {
         position: relative;
         display: flex;
         align-items: center;
         justify-content: space-evenly;

         &::before {
            content: "";
            // margin: rem(0) rem(200) rem(0) rem(0);
            // position: absolute;
            background-color: #7d2253;
            width: percent(255, 1137);
            height: 1px;
         }
      }
   }

   // .occasion__image-ibg

   &__image-ibg {
      flex: 0 1 32%;
      padding: rem(0) rem(0) 20.1% rem(0);
      img {
         backdrop-filter: blur(20px);
         border-radius: 20px;
      }
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .occasion__body

   &__body {
      display: flex;
      gap: rem(30);
      @media (max-width: $tablet) {
         justify-content: center;
      }
   }

   // .occasion__content

   &__content {
      flex: 0 1 26%;
      line-height: math.div(21, 14);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      @media (max-width: $tablet) {
         flex: 1 1 auto;
      }
   }

   // .occasion__images

   &__images {
      flex: 0 1 74%;
      width: 100%;
   }
}

.content-occasion {
   padding: rem(0) rem(0) rem(0) rem(40);
   @media (max-width: $tablet) {
      padding: rem(0) rem(0) rem(0) rem(10);
   }
   p {
      position: relative;
      display: block;
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      &::before {
         content: "";
         width: rem(3);
         height: rem(3);
         background-color: #fff;
         display: inline-block;
         position: absolute;
         left: 0;
         top: 0;
         transform: translate(-10px, 9px);
      }
   }
   // .content-occasion__text

   &__text {
      &:not(:last-child) {
         margin-bottom: rem(40);
      }
   }

   // .content-occasion__button

   &__button {
      padding: rem(16) rem(18);
      margin: rem(20) rem(0) rem(0) rem(0);
      position: relative;
      &::before {
         font-size: rem(60);
         color: #43ffd2;
         position: absolute;
         left: rem(-31);
         top: rem(-40);
         @media (max-width: $tablet) {
            left: 105%;
            transform: rotateY(-180deg);
         }
      }
   }
}

.images-occasion {
   max-height: rem(292);
   display: flex;
   gap: rem(30);
   @media (max-width: $tablet) {
      display: none;
   }
   // .images-occasion__image-ibg

   &__image-ibg {
      width: 100%;
      img {
         backdrop-filter: blur(20px);
         border-radius: rem(20);
      }

      // .images-occasion__image-ibg_1

      &_1 {
         flex: 0 1 39%;
      }

      // .images-occasion__image-ibg_2

      &_2 {
         flex: 0 1 22%;
      }

      // .images-occasion__image-ibg_3

      &_3 {
         flex: 0 1 39%;
      }
   }
}
//========================================================================================================================================================
.questions {
   position: relative;
   background-color: #0f2222;
   &::before,
   &::after {
      content: "";
      filter: blur(110px);
      border-radius: 50%;
      position: absolute;
      @media (max-width: $tablet) {
         // filter: blur(50px);
      }
   }
   &::before {
      top: 33%;
      width: rem(250);
      height: rem(300);
      left: 33%;
      background: #43ffd2;
      transform: rotate(32.83deg);
      z-index: 2;
      opacity: 1;
      @media (max-width: $tablet) {
         // top: 20%;
         // left: -25%;
      }
   }
   &::after {
      background: #7d2253;
      width: rem(420);
      height: rem(430);
      left: 5%;
      transform: rotate(-32.83deg);
      top: 20%;
      @media (max-width: $tablet) {
         // top: 20%;
      }
   }

   // .questions__bg

   &__bg {
      position: absolute;
      left: 0;
      top: -10%;
      z-index: 2;
      @media (max-width: $tablet) {
         left: auto;
         right: 0;
         width: rem(400);
         height: rem(800);
         top: -5%;
         @include adaptiveValue("width", 400, 250, 991.98, 320, 1);
         @include adaptiveValue("height", 800, 400, 991.98, 320, 1);
         transform: rotateY(-180deg);
         img {
            height: 100%;
            width: 100%;
         }
      }
   }

   // .questions__container

   &__container {
   }

   // .questions__label

   &__label {
      display: flex;
      margin-bottom: rem(30);
      position: relative;
      z-index: 3;
      @media (max-width: $tablet) {
         flex-direction: column;
         gap: rem(115);
      }
   }

   // .questions__title

   &__title {
      flex: 1 1 auto;
      width: 100%;
      line-height: 1;
      &:not(:last-child) {
         margin-bottom: 0;
      }
      span {
         display: block;
         padding: rem(0) rem(0) rem(0) rem(93);
         @include adaptiveValue("padding-left", 93, 0);
      }
   }

   // .questions__inquiry

   &__inquiry {
      flex: 0 1 22.6%;
      line-height: math.div(21, 14);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      position: relative;
      padding: rem(53) rem(0) rem(0) rem(0);
      align-self: flex-end;
      @media (max-width: $tablet) {
         padding: rem(30) rem(50);
      }

      &::before {
         content: "";
         background-color: #43ffd2;
         width: 100%;
         height: 1px;
         position: absolute;
         top: 0;
         left: 0;
         display: block;
      }
   }

   // .questions__body

   &__body {
   }
}

.body-questions {
   display: flex;
   text-align: right;
   @media (max-width: $tablet) {
      justify-content: center;
   }

   // .body-questions__signature

   &__signature {
      font-size: rem(100);
      @include adaptiveValue("font-size", 160, 100);
      flex: 0 1 71%;
      color: #0e2c2c;
      padding: rem(30);
      @media (max-width: $tablet) {
         text-align: center;
      }
   }

   // .body-questions__form

   &__form {
      flex: 0 1 39%;
      @media (max-width: $tablet) {
         flex: 1 1 auto;
      }
   }
}
.form-questions {
   position: relative;
   text-align: left;

   // .form-questions__form

   &__form {
   }

   // .form-questions__name

   &__name {
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   // .form-questions__phone

   &__phone {
      &:not(:last-child) {
         margin-bottom: rem(10);
      }
   }

   // .form-questions__comment

   &__comment {
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
   }

   // .form-questions__button

   &__button {
      margin: rem(0) rem(0) rem(10) rem(0);
   }

   // .form-questions__confidentiality

   &__confidentiality {
      font-family: "Roboto Condensed";
      font-size: rem(10);
      line-height: math.div(12, 10);
      letter-spacing: 0.02em;
      color: #ffffff;
      a {
         color: #d978ac;
         @media (any-hover: hover) {
            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
}
//========================================================================================================================================================

.social {
   position: relative;
   &::before,
   &::after {
      content: "";
      filter: blur(110px);
      border-radius: 50%;
      position: absolute;
      @media (max-width: $tablet) {
         filter: blur(50px);
      }
   }
   &::before {
      bottom: rem(-200);
      left: -5%;
      width: rem(250);
      height: rem(300);
      // filter: blur(150px);
      background: #43ffd2;
      transform: rotate(32.83deg);
      z-index: 2;
      opacity: 1;
      @media (max-width: $mobileSmall) {
         left: -25%;
      }
   }
   &::after {
      bottom: rem(-200);
      right: 0;
      width: rem(350);
      height: rem(350);
      // filter: blur(120px);
      background-color: #7d2253;
      transform: rotate(32.83deg);
      z-index: 2;
      opacity: 1;
      @media (max-width: $mobileSmall) {
         right: rem(-100);
      }
   }
   // .social__container

   &__container {
   }

   // .social__columns

   &__columns {
      display: flex;

      @media (min-width: $tablet) {
         gap: rem(30);
      }
      @media (max-width: $tablet) {
         flex-direction: column-reverse;
      }
   }

   // .social__column

   &__column {
   }

   // .social__bg

   &__bg {
      position: absolute;
      bottom: 0;
      left: 50%;
      &::before {
         top: rem(-100);
         left: rem(-100);
         width: rem(300);
         height: rem(311);
         content: "";
         filter: blur(100px);
         border-radius: 50%;
         position: absolute;
         @media (max-width: $tablet) {
            filter: blur(50px);
         }
         background: #43ffd2;
         z-index: 2;
         opacity: 1;
      }
   }
}

.column-images {
   flex: 1 1 auto;
   width: 100%;
   margin: rem(65) rem(0) rem(0) rem(0);
   &::before {
      content: "instagram";
      font-weight: bold;
      font-size: rem(100);
      @include adaptiveValue("font-size", 200, 100);
      line-height: math.div(296, 200);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #fff;
      opacity: 0.1;
      display: block;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 40%;
      @media (max-width: $tablet) {
         display: none;
      }
   }

   // .column-images__images

   &__images {
      display: flex;
      gap: rem(30);
      position: relative;

      z-index: 3;
      @media (max-width: $tablet) {
         flex-wrap: wrap;
         justify-content: center;
         gap: rem(15);
      }
   }

   // .column-images__image-ibg

   &__image-ibg {
      flex: 0 1 25%;
      padding: rem(0) rem(0) 22% rem(0);
      @media (max-width: $tablet) {
         flex: 0 1 48%;
         padding: rem(0) rem(0) 48% rem(0);
      }
   }
}

.column-social {
   flex: 0 0 rem(350);
   @media (max-width: $tablet) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1 1 auto;
   }
   // .column-social__images

   &__images {
   }

   // .column-social__image-ibg

   &__image-ibg {
   }

   // .column-social__label

   &__label {
      position: relative;
      @media (min-width: $tablet) {
         &:not(:last-child) {
            margin-bottom: rem(60);
         }
      }

      &::before {
         content: "";
         width: 100%;
         height: 1px;
         background-color: #43ffd2;
         position: absolute;
         top: 38%;
         left: 0;
      }
   }

   // .column-social__signature

   &__signature {
      font-family: Relative;
      font-style: normal;
      font-weight: normal;
      font-size: rem(80);
      line-height: math.div(60, 160);
      transform: rotate(0deg);
      text-transform: lowercase;
      color: #ffffff;
      padding: 0;
      @include adaptiveValue("font-size", 160, 80);
   }

   // .column-social__items

   &__items {
      display: flex;
      gap: rem(30);
      justify-content: end;
      @media (max-width: $tablet) {
      }
   }

   // .column-social__item

   &__item {
      &::before {
         color: #43ffd2;
         font-size: rem(26);
         @include adaptiveValue("font-size", 40, 20);
         transition: color 0.3s ease 0s;
      }
      @media (any-hover: hover) {
         &:hover {
            &::before {
               color: #d978ac;
            }
         }
      }
   }
}
